.one, .two, .three, .four, .five, .six{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    h2{
        padding: 140px 0;
        text-decoration: none!important;
        color: black;
    }
}

.car-one:hover .overlay{
    opacity: 1;
}
.car-two:hover .overlay{
    opacity: 1;
}
.car-three:hover .overlay{
    opacity: 1;
}
.car-four:hover .overlay{
    opacity: 1;
}
.car-five:hover .overlay{
    opacity: 1;
}
.car-six:hover .overlay{
    opacity: 1;
}